<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ydds.modulefirst">

    <application>

        <activity
            android:name="com.ydds.modulesecond.activity.SecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
